*.exe
*.cache
obj/Debug/DoclerWPF.csproj.AssemblyReference.cache
obj/Debug/DoclerWPF_MarkupCompile.i.cache
obj/Debug/MainWindow.g.i.cs
obj/Debug/DoclerWPF.csproj.AssemblyReference.cache
obj/Debug/DoclerWPF_MarkupCompile.i.cache
obj/
bin/

